.containerCountries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
    margin: 0 auto;
    padding: 2rem 0;
}
.search {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    position: relative;
    padding-top: 2rem;
}
@media (max-width: 480px) {
    .containerCountries {
        padding: 2rem 30px;
    }
    .search{
        flex-direction: column;
        gap: 20px;
    }
}