:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 98%);
  --dark-gray: hsl(0, 0%, 52%);
  --dark-blue: hsl(209, 23%, 22%);
  --dark-blue2: hsl(207, 26%, 17%);
  --dark-text: hsl(200, 15%, 8%);
  --light: 300;
  --bold: 600;
  --heavy: 800;
  --f14: 14px;
  --f16: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
body{
  background-color: var(--background-color);
  color: var(--font-color);
}
.light{
  --background-color: var(--light-gray);
  --font-color: var(--dark-text);
  --second-font-color: var(--dark-text);
  --gray:var(--dark-gray);
  --second-background-color: var(--white);
}
.dark {
  --background-color: var(--dark-blue2);
  --font-color: var(--white);
  --second-font-color: var(--light-gray);
  --gray: var(--dark-text);
  --second-background-color: var(--dark-blue);
}
